<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Testes com VueJS</title>
</head>
<body>
    <div id="container">
        <top-bar :style="menu_style" class="text-center d-flex flex-row justify-content-around align-items-center"></top-bar>

        <select id="select" class="custom-select col-2 m-4" @change="change_color">
            <option selected>Select color</option>
            <option value="1">Gray</option>
            <option value="2">Yellow</option>
            <option value="3">Green</option>
        </select>

        <h1 class="text-center">{{ titulo }}</h1>

        <span title="Você carregou esta página em 20/09/2018 09:30:34">
            <p>Pare o mouse sobre mim e veja a dica interligada dinamicamente!</p>
        </span>
        <span :title="message">
            <p>Pare o mouse sobre mim e veja a dica interligada dinamicamente!</p>
        </span>

        <form action="">
            <input type="text" :placeholder="inputvalue">
            <input type="text" v-model="inputvalue">
        </form>

        <p v-if="seen">Agora você me viu</p>
        <button @click="esconder">{{ button_name }}</button>

        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
    </div>

    <div id="chat" class="d-none">
        {{ titulo }}
    </div>

    <!--TEMPLATES-->
    <template id="menu">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Home</a></li>
            <li class="list-group-item"><a href="#">Sobre</a></li>
            <li class="list-group-item"><a href="#">Links</a></li>
            <li class="list-group-item"><a href="#">Contato</a></li>
        </ul>
    </template>



    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/general.js"></script>
</body>
</html>